/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.photo-cont-tall {
  height: 300px;
}

.photo-cont-slim-top {
  height: 140px;
  margin-bottom: 10px;
}

.photo-cont-slim-bottom {
  height: 140px;
  margin-top: 10px;
}

.photo-cont-slim-bottom2 {
  height: 225px;
  margin-top: 20px;
}

.photo-cont-slim-bottom3 {
  height: 225px;
  margin-left: 17px;
  margin-top: 20px;
}

.photo-cont-slim-bottom4 {
  height: 225px;
  margin-right: 17px;
  margin-top: 20px;
}
