.booking-container {
  background: #d8d8d8;
  padding: 30px 30px;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.padded {
  padding-top: -10px;
}
